/*  your css code here. If applicable */
body{
	background-color: #CBD6CB;
}
table,td{
	border: 1px solid black;
	text-align: center;
}

#firstcol,#lastcol,:is(#firstcol,#lastcol) :is(img){
	width:200px;
}

#middlecol{
	width: 600px;
}
